.dropdown-menu-green {
    background-color: green;
    min-height: 100vh;
}

.dropdown-menu-green .dropdown-item {
    color: white; 
}

.dropdown-menu-green .dropdown-item:hover {
    background-color: darkgreen; 
}

body{
    background-color: darkgrey;
}

.dropdown-header{
    color: black;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; 
}

header h1 {
    flex: 1;                  
    text-align: center;       
    margin: 0;                       
} 

.header{
    display: flex;
    gap: 10px;
}

.header-icons{
    font-size: 2rem;
}

.header-icons a {
    color: inherit;
}

.fa-user:hover{
    color: green;
}

.fa-bell:hover{
    color: green;
}

.fa-plus{
    margin-left: 5px;
    color: darkgreen;
}

.container{
    position: relative;
    top: 30px; 
}

.btn-size{
    width: 200px;
    margin-top: 25px;
}

.admin-searchbar {
    padding-top: 25px;
    display: relative;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container{
    justify-content: center;
    align-items: center;    
    width: 1000px;
}


.d-flex {
    display: flex;
    justify-content: flex-end;
  }
  
  .container-side {
    margin-top: 20px;
    width: 40%;
    margin-right: 20px;
 }
  


.select-size{
    width: 250px;
}

.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}