.dropdown-menu-green {
    background-color: #101b34;
    min-height: 100%;
    width:250px;
    padding-right: 20px;
    border-radius: 0;
    position:fixed;
    border: none;
}

.dropdown-menu-green .dropdown-item {
    color: white; 
}

.dropdown-menu-green .dropdown-item:hover {
    background-color: #14233d; 
}

body{
    background-color: white;
}

.content{
    margin-left: 250px;
    padding: 20px;
}

.data-box{
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 300px; 
    text-align: center;
}

.dropdown-header{
    color: #bec0c8;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; 
    border-bottom: 2px solid rgb(211, 211, 211);
}

header h1 {
    flex: 1;                  
    text-align: center;       
    margin: 0;                       
} 

.header{
    display: flex;
    gap: 10px;
}

.header-icons{
    font-size: 2rem;
}

.header-icons a {
    color: inherit;
}

.fa-user:hover{
    color: green;
}

.fa-bell:hover{
    color: green;
}

.fa-plus{
    margin-left: 5px;
    color: darkgreen;
}

.container{
    position: relative;
    top: 30px; 
}

.btn-size{
    width: 200px;
    margin-top: 25px;
}

.admin-searchbar {
    padding-top: 25px;
    display: relative;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container{
    justify-content: center;
    align-items: center;    
    width: 1000px;
}


.d-flex {
    display: flex;
    justify-content: flex-end;
  }
  
  .container-side {
    margin-top: 20px;
    width: 40%;
    margin-right: 20px;
 }
  


.select-size{
    width: 250px;
}

.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* sign-up css */
.reg-body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(255, 255, 255);
}
.reg-container {
    position: relative;
    max-width: 700px;
    width: 700px;
    background: #fff;
    padding: 25px;
  }
  .reg-header {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }
  .reg-container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  }
  .form :where(.input-box input) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .checkbox{
    padding-top: 20px;
  }
  
  .form .sign-btn {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background:darkgreen;
  }
  .form .sign-btn:hover {
    background: rgb(17, 141, 89);
  }
  .paragraph{
    padding-top: 20px;
    text-align: center;
  }
 a{
    color: darkgreen;
    text-decoration: none;
 }